<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-layout}">
  <head id="head">

    <title data-th-text="#{label_create_entity(#{label_alluser})}">
      Create Alluser - user - SpringRoo Application</title>

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" data-th-href="@{/webjars/datetimepicker/build/jquery.datetimepicker.min.css}" />

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!-- CONTAINER -->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content">
        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('AllusersCollectionThymeleafController')}">

          <h1 data-th-text="#{label_create_entity(#{label_alluser})}">Create Alluser</h1>

          <!-- FORM -->
          <form class="form-horizontal validate" method="POST" data-th-object="${alluser}" data-th-action="${collectionLink.to('create').with('alluser', alluser.id)}">

            <fieldset id="containerFields">
              <legend class="sr-only" data-th-text="#{label_data_entity(#{label_alluser})}">Alluser data </legend>

<div class="form-group has-error has-feedback" data-z="f29da7dd" id="alluser-loginid-field" data-th-classappend="${#fields.hasErrors('loginId')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="loginId" class="col-md-3 control-label" data-th-text="#{label_alluser_loginid}">loginId</label>
  <div class="col-md-6">
    <input id="loginId" name="loginId" data-th-value="*{{loginId}}" type="text" class="form-control" placeholder="loginId" data-th-placeholder="#{label_alluser_loginid}" data-toggle="tooltip" aria-describedby="loginIdStatus" required="required" maxlength="200" size="200" />
      <span data-th-classappend="${#fields.hasErrors('loginId')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('loginId')}" aria-hidden="true"></span>
      <span id="loginId-error" class="help-block" data-th-if="${#fields.hasErrors('loginId')}" data-th-errors="*{loginId}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="2f620241" id="alluser-passwordhash-field" data-th-classappend="${#fields.hasErrors('passwordHash')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="passwordHash" class="col-md-3 control-label" data-th-text="#{label_alluser_passwordhash}">passwordHash</label>
  <div class="col-md-6">
    <input id="passwordHash" name="passwordHash" data-th-value="*{{passwordHash}}" type="text" class="form-control" placeholder="passwordHash" data-th-placeholder="#{label_alluser_passwordhash}" data-toggle="tooltip" aria-describedby="passwordHashStatus" required="required" maxlength="200" size="200" />
      <span data-th-classappend="${#fields.hasErrors('passwordHash')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('passwordHash')}" aria-hidden="true"></span>
      <span id="passwordHash-error" class="help-block" data-th-if="${#fields.hasErrors('passwordHash')}" data-th-errors="*{passwordHash}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="2b09483d" id="alluser-email-field" data-th-classappend="${#fields.hasErrors('email')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="email" class="col-md-3 control-label" data-th-text="#{label_alluser_email}">email</label>
  <div class="col-md-6">
    <input id="email" name="email" data-th-value="*{{email}}" type="text" class="form-control" placeholder="email" data-th-placeholder="#{label_alluser_email}" data-toggle="tooltip" aria-describedby="emailStatus" required="required" maxlength="200" size="200" />
      <span data-th-classappend="${#fields.hasErrors('email')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('email')}" aria-hidden="true"></span>
      <span id="email-error" class="help-block" data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="7e98f17d" id="alluser-approle-field" data-th-classappend="${#fields.hasErrors('appRole')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="appRole" class="col-md-3 control-label" data-th-text="#{label_alluser_approle}">appRole</label>
  <div class="col-md-6">
    <input id="appRole" name="appRole" data-th-value="*{{appRole}}" type="text" class="form-control" placeholder="appRole" data-th-placeholder="#{label_alluser_approle}" data-toggle="tooltip" aria-describedby="appRoleStatus" required="required" maxlength="50" size="50" />
      <span data-th-classappend="${#fields.hasErrors('appRole')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('appRole')}" aria-hidden="true"></span>
      <span id="appRole-error" class="help-block" data-th-if="${#fields.hasErrors('appRole')}" data-th-errors="*{appRole}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="alluser-useractive-field" data-z="3b225dc1" data-th-classappend="${#fields.hasErrors('userActive')}? 'has-error has-feedback'" data-th-class="form-group">
  <label class="col-md-3 control-label" for="userActive" data-th-text="#{label_alluser_useractive}">userActive</label>
  <div class="col-md-6">
    <div class="checkbox">
      <input type="checkbox" data-th-field="*{userActive}" data-th-title="#{label_requiredfield}" data-toggle="tooltip" />
       <span data-th-classappend="${#fields.hasErrors('userActive')}? 'form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('userActive')}" aria-hidden="true"></span>
        <span id="userActive-error" class="help-block" data-th-if="${#fields.hasErrors('userActive')}" data-th-errors="*{userActive}">Error message.</span>
    </div>
  </div>
</div>
<!--  
<div class="form-group has-error has-feedback" id="alluser-lastupdatedate-field" data-z="b2051961" data-th-classappend="${#fields.hasErrors('lastUpdateDate')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="lastUpdateDate" class="col-md-3 control-label" data-th-text="#{label_alluser_lastupdatedate}">lastUpdateDate</label>
  <div class="col-md-3">
    <input id="lastUpdateDate" name="lastUpdateDate" data-th-value="*{{lastUpdateDate}}" type="text" class="form-control datetimepicker" placeholder="lastUpdateDate" data-th-placeholder="#{label_alluser_lastupdatedate}" data-th-attr="data-dateformat=${lastUpdateDate_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('lastUpdateDate')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('lastUpdateDate')}" aria-hidden="true"></span>
     <span id="lastUpdateDate-error" class="help-block" data-th-if="${#fields.hasErrors('lastUpdateDate')}" data-th-errors="*{lastUpdateDate}">Error message.</span>
  </div>
</div>
-->
            </fieldset>


              <!-- buttons form -->
              <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn btn-primary" data-th-text="#{label_save}">Save</button>
                    <button type="reset" class="btn btn-default" onclick="location.href='list.html'" data-th-onclick="'location.href=\'' + @{/allusers} + '\''" data-th-text="#{label_reset}">Cancel</button>
                </div>
              </div>

          </form>
          <!-- /FORM -->

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">

    <!-- DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script>
    <script src="../../static/public/js/datetimepicker-defaults.js" data-th-src="@{/public/js/datetimepicker-defaults.js}"></script>

    <!-- jquery.inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/jquery.inputmask.bundle.min.js" data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
					(function(jQuery) {
						jQuery(document)
								.ready(
										function() {
											Inputmask
													.extendAliases({
														'numeric' : {
															'groupSeparator' : /*[[#{label_inputmask_groupSeparator}]]*/'.',
															'radixPoint' : /*[[#{label_inputmask_radixPoint}]]*/','
														},
														'currency' : {
															'prefix' : /*[[#{label_inputmask_prefix}]]*/'',
															'suffix' : /*[[#{label_inputmask_suffix}]]*/' €'
														}
													});
										});
					})(jQuery);
  		</script>
    <script src="../../static/public/js/inputmask-defaults.js" data-th-src="@{/public/js/inputmask-defaults.js}"></script>

    <!-- JQuery Validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
		  </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js" data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
			</script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/localization/messages_es.js" data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'" data-th-if="${#locale.language} != 'en'">
			</script>
    <script src="../../static/public/js/validation-defaults.js" data-th-src="@{/public/js/validation-defaults.js}">
			</script>

    <script type="text/javascript" data-th-inline="javascript">
					(function(jQuery) {
						jQuery(document)
								.ready(
										function() {
											jQuery
													.extend(
															jQuery.validator.messages,
															{
																'dateformat' : /*[[#{error_invalid_date}]]*/'Please enter a correct date/time',
																'inputmask' : /*[[#{error_invalid_maskValue}]]*/'Please enter a valid value',
															});
										});
					})(jQuery);
		  </script>

    </div>

  </body>

</html>